@model Webb_GruppK.Models.personchannel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>personchannel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.channel.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.channel.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.person.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.person.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.personchannelid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
