@model IEnumerable<Webb_GruppK.Models.personchannel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.channel.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.person.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.channel.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.personchannelid }) |
            @Html.ActionLink("Details", "Details", new { id=item.personchannelid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.personchannelid })
        </td>
    </tr>
}

</table>
