@model Webb_GruppK.Models.program

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.channel.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.channel.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.programid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
