@model IEnumerable<Webb_GruppK.Models.program>
@{
    ViewBag.Title = "Index";
}

@*<link href="@Url.Content("~/Style/StyleSheet.css")" rel="stylesheet" type="text/css" />
@RenderSection("Style", false)*@
<div class="channels">
    <button class="tablink" onclick="openTab('Idag', this, ' #999999')" id="defaultOpen">Idag</button>
    <button class="tablink" onclick="openTab('Imorgon', this, ' #999999')">Imorgon</button>
    <button class="tablink" onclick="openTab('n1', this, ' #999999')">Lördag 4/11</button>
    <button class="tablink" onclick="openTab('n2', this, ' #999999')">Söndag 5/11</button>
    <button class="tablink" onclick="openTab('n3', this, ' #999999')">Måndag 6/11</button>
    <button class="tablink" onclick="openTab('n4', this, ' #999999')">Tisdag 7/11</button>
    <button class="tablink" onclick="openTab('n5', this, ' #999999')">Onsdag 8/11</button>
    <div id="Idag" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")" alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }           
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")" alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }          
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/"src="@Url.Content("~/Style/Images/TV4.png")" alt="Ikon för TV4 saknas">          
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }           
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6"src="@Url.Content("~/Style/Images/TV6.png")" alt="Ikon för TV6 saknas">           
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                    <li>@item.time_from @item.name</li>
                }
            }          
        </ul>
    </div>
    <div id="Imorgon" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")" alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }          
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }           
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")" alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }         
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/"src="@Url.Content("~/Style/Images/TV4.png")" alt="Ikon för TV4 saknas" >      
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6"src="@Url.Content("~/Style/Images/TV6.png")" alt="Ikon för TV6 saknas" >           
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
    </div>
    <div id="n1" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")" alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }          
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")" alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/"src="@Url.Content("~/Style/Images/TV4.png")" alt="Ikon för TV4 saknas" >            
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }           
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6"src="@Url.Content("~/Style/Images/TV6.png")" alt="Ikon för TV6 saknas">            
           @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                <li>@item.time_from @item.name</li>
               }
           }           
        </ul>
    </div>
    <div id="n2" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")"  alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }           
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")"  alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/"src="@Url.Content("~/Style/Images/TV4.png")"  alt="Ikon för TV4 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }          
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6"src="@Url.Content("~/Style/Images/TV6.png")"  alt="Ikon för TV6 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                    <li>@item.time_from @item.name</li>
                }
            }            
        </ul>
    </div>
    <div id="n3" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")" alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }          
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")" alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/" src="@Url.Content("~/Style/Images/TV4.png")" alt="Ikon för TV4 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6" src="@Url.Content("~/Style/Images/TV6.png")" alt="Ikon för TV6 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
    </div>
    <div id="n4" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")" alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")" alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/" src="@Url.Content("~/Style/Images/TV4.png")" alt="Ikon för TV4 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6" src="@Url.Content("~/Style/Images/TV6.png")" alt="Ikon för TV6 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
    </div>
    <div id="n5" class="tabcontent">
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt1" src="@Url.Content("~/Style/Images/SVT1.png")" alt="Ikon för SVT1 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT1")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.svtplay.se/kanaler/svt2" src="@Url.Content("~/Style/Images/SVT2.png")" alt="Ikon för SVT2 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "SVT2")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv3" src="@Url.Content("~/Style/Images/TV3.png")" alt="Ikon för TV3 saknas" />
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV3")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="http://www.tv4.se/" src="@Url.Content("~/Style/Images/TV4.png")" alt="Ikon för TV4 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV4")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
        <ul id="programs">
            <img href="https://www.viafree.se/program/?channel=tv6" src="@Url.Content("~/Style/Images/TV6.png")" alt="Ikon för TV6 saknas">
            @foreach (var item in Model)
            {
                if (@item.channel.name == "TV6")
                {
                    <li>@item.time_from @item.name</li>
                }
            }
        </ul>
    </div>
</div>

<script>
    function openTab(Name,elmnt,color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(Name).style.display = "block";
        elmnt.style.backgroundColor = color;
    }
    </script>

    document.getElementById("defaultOpen").click();
@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_from)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.channel.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.channel.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.programid }) |
            @Html.ActionLink("Details", "Details", new { id=item.programid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.programid })
        </td>
    </tr>
}

</table>*@
